/* chat-dark.css */

/* Estilos generales de la aplicación */
.root {
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-font-size: 14px;
    /* Fondo degradado de un gris oscuro a un negro */
    -fx-background-color: linear-gradient(to bottom, #121212, #1e1e1e);
}

/* Área de chat */
.text-area {
    -fx-background-color: #1e1e1e;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-control-inner-background: rgba(50, 50, 50, 0.99);
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.82), 5, 0, 0, 1);
    -fx-padding: 10;
    -fx-text-fill: #ffffff; /* Texto blanco */
}

/* Campo de entrada */
.text-field {
    -fx-background-color: #2c2c2c;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-border-color: #64b5f6; /* borde azul medio */
    -fx-border-width: 1;
    -fx-padding: 8 12 8 12;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0, 0, 1);
    -fx-text-fill: #ffffff; /* Texto blanco */
}

/* Botones */
.button {
    /* Degradado en tonos de azul oscuro */
    -fx-background-color: linear-gradient(to bottom, #1e88e5, #0d47a1);
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 8 15 8 15;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0, 0, 2);
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #64b5f6, #1976d2);
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #0d47a1, #0b3c8c);
}

/* Lista de usuarios */
.list-view {
    -fx-background-color: #2c2c2c; /* Fondo oscuro para la lista */
    -fx-border-color: #64b5f6;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0, 0, 2);
}

/* Celdas de la lista */
.list-view .list-cell {
    -fx-padding: 8 10 8 10;
    -fx-background-color: transparent; /* Fondo transparente para que tome el color de la lista */
    -fx-text-fill: #ffffff; /* Texto blanco */
}

/* Celdas seleccionadas */
.list-view .list-cell:filled:selected,
.list-view .list-cell:filled:selected:hover {
    -fx-background-color: linear-gradient(to bottom, #1e88e5, #0d47a1); /* Color de fondo para celdas seleccionadas */
    -fx-text-fill: #000000; /* Texto negro para contraste */
}

/* Nombre del usuario */
.user-name {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff; /* Texto blanco */
    -fx-font-weight: bold;
}

/* Indicador de estado */
.status-circle {
    -fx-fill: #53dc09; /* verde claro */
}

/* Etiqueta de estado */
.status-label {
    -fx-font-size: 10px;
    -fx-text-fill: #bbdefb; /* azul claro */
}

#onlineUsersTitle{
    -fx-fill: #ffffff; /* Texto blanco */
    -fx-font-weight: bold;
}
#chatTitle {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill: #e9eef3;  /* Color azul oscuro, cámbialo según tu preferencia */
}
